:root {
  --default-font: "思源黑体 CN Normal";
  --code-font: "Fira Code Retina";

  --title-font-weight: 900;
  --title-font-family: "楷体";
  --h1: 2.5em;
  --h2: 2.25em;
  --h3: 2em;
  --h4: 1.75em;
  --h5: 1.5em;
  --h6: 1.25em;
}
.theme-light {
  --background-primary: #faf7f5;
  --background-primary-alt: #f5f8fa;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #e3e5e8;
  --background-modifier-border: #ddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #900;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #b00;
  --background-modifier-cover: rgba(198, 200, 209, 0.8);
  --text-accent: #705dcf;
  --text-accent-hover: #7a6ae6;
  --text-normal: #2e3338;
  --text-muted: #888888;
  --text-muted-rgb: 136, 136, 136;
  --text-faint: #999;
  --text-error: #800000;
  --text-error-hover: #900;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(204, 230, 255, 0.99);
  --text-on-accent: #777;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #e9e9e9;
  --interactive-accent: #7b6cd9;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #8273e6;
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
  --text-title-h1: #a268ff;
  --text-title-h2: #ff56d1;
  --text-title-h3: #ff689a;
  --text-title-h4: #ff986c;
  --text-title-h5: #ffcb58;
  --text-title-h6: #ccb4e9;
}

/* ---标题--- */
/* 字体&大小 */
.cm-header {
  font-weight: var(--title-font-weight) !important;
  font-family: var(--title-font-family);
}

/* 颜色 */
.HyperMD-header-1,
.markdown-preview-section h1,
.cm-header-1.cm-link,
.cm-header-1.cm-hmd-internal-link,
h1 a {
  color: var(--text-title-h1) !important;
}

.HyperMD-header-2,
.markdown-preview-section h2,
.cm-header-2.cm-link,
.cm-header-2.cm-hmd-internal-link,
h2 a {
  color: var(--text-title-h2) !important;
}

.HyperMD-header-3,
.markdown-preview-section h3,
.cm-header-3.cm-link,
.cm-header-3.cm-hmd-internal-link,
h3 a {
  color: var(--text-title-h3) !important;
}

.HyperMD-header-4,
.markdown-preview-section h4,
.cm-header-4.cm-link,
.cm-header-4.cm-hmd-internal-link,
h4 a {
  color: var(--text-title-h4) !important;
}

.HyperMD-header-5,
.markdown-preview-section h5,
.cm-header-5.cm-link,
.cm-header-5.cm-hmd-internal-link,
h5 a {
  color: var(--text-title-h5) !important;
}

.HyperMD-header-6,
.markdown-preview-section h6,
.cm-header-6.cm-link,
.cm-header-6.cm-hmd-internal-link,
h6 a {
  color: var(--text-title-h6) !important;
}

/* ---代码--- */
/* 字体 */
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd,
.markdown-rendered code {
  font-family: var(--code-font), var(--default-font);
}
/* 段&&行字体颜色 */
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .cm-math {
  color: #ff0040;
}

.markdown-preview-view table {
  width: 100%;
  border: 1px solid var(--background-modifier-border);
  border-spacing: 0;
  overflow: hidden;
}

.markdown-preview-view th,
.markdown-preview-view td {
  padding: 5px 10px;
  vertical-align: top;
  border-color: var(--background-modifier-border);
}

.markdown-preview-view th:first-child,
.markdown-preview-view td:first-child {
  padding-left: 15px;
}

.markdown-preview-view th {
  background-color: var(--background-primary-alt);
  border-bottom: none;
  font-weight: 500;
  font-size: var(--large-font-size) !important;
}

.markdown-preview-view tr + tr td {
  border-top: none;
}

.table-view-table > thead > tr > th {
  text-transform: none !important;
  font-weight: 700;
  font-size: larger;
}

th {
  font-weight: 600 !important;
}

table {
  border-collapse: collapse;
}

.footnotes {
  font-size: 1em !important;
}

.cm-s-obsidian span.cm-footref {
  font-size: 1em !important;
}

.cm-s-obsidian pre.HyperMD-footnote {
  font-size: 1em !important;
}

.footnote-backref.footnote-link {
  font-family: var(--default-font);
  font-size: 0.75em;
}

.footnote-link {
  color: var(--text-muted);
  text-decoration: none;
}

.footnote-link:hover {
  color: var(--text-accent);
  text-decoration: none;
}

.footnote-backref {
  color: var(--text-muted);
  margin-left: 0.2rem;
  color: var(--interactive-accent-hover);
  text-decoration: none;
}

.footnote-backref:hover {
  color: var(--interactive-accent-hover);
}

.footnotes li::marker {
  color: var(--text-muted);
}

.footnote-ref {
  font-size: 1rem;
  text-decoration: none;
}

.cm-s-obsidian span.cm-footref,
.cm-s-obsidian span.cm-blockid {
  display: inline-block;
  font-size: 0.875em;
  vertical-align: unset;
  color: var(--text-muted);
  margin-top: -0.2em;
}
