:root {
  --default-font: "Fira Code Retina", "思源黑体 CN Normal";

  --h1: 2.5em;
  --h2: 2.25em;
  --h3: 2em;
  --h4: 1.75em;
  --h5: 1.5em;
  --h6: 1.25em;
}
.theme-light {
  --background-primary: #faf7f5;
  --background-primary-alt: #f5f8fa;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #e3e5e8;
  --background-modifier-border: #ddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #900;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #b00;
  --background-modifier-cover: rgba(198, 200, 209, 0.8);
  --text-accent: #705dcf;
  --text-accent-hover: #7a6ae6;
  --text-normal: #2e3338;
  --text-muted: #888888;
  --text-muted-rgb: 136, 136, 136;
  --text-faint: #999;
  --text-error: #800000;
  --text-error-hover: #900;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(204, 230, 255, 0.99);
  --text-on-accent: #777;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #e9e9e9;
  --interactive-accent: #7b6cd9;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #8273e6;
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
  --text-title-h1: #a268ff;
  --text-title-h2: #ff56d1;
  --text-title-h3: #ff689a;
  --text-title-h4: #ff986c;
  --text-title-h5: #ffcb58;
  --text-title-h6: #ccb4e9;
}
.cm-header-1.cm-link,
h1 a {
  color: var(--text-title-h1) !important;
}

.cm-header-2.cm-link,
h2 a {
  color: var(--text-title-h2) !important;
}

.cm-header-3.cm-link,
h3 a {
  color: var(--text-title-h3) !important;
}
.cm-header-4.cm-link,
h4 a {
  color: var(--text-title-h4) !important;
}
.cm-header-5.cm-link,
h5 a {
  color: var(--text-title-h5) !important;
}
.cm-header-6.cm-link,
h6 a {
  color: var(--text-title-h6) !important;
}

.HyperMD-header-1,
.markdown-preview-section h1 {
  color: var(--text-title-h1) !important;
}

.HyperMD-header-2,
.markdown-preview-section h2 {
  color: var(--text-title-h2) !important;
}

.HyperMD-header-3,
.markdown-preview-section h3,
.markdown-preview-section h3 > .cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--text-title-h3) !important;
}

.HyperMD-header-4,
.markdown-preview-section h4 {
  color: var(--text-title-h4) !important;
}

.HyperMD-header-5,
.markdown-preview-section h5 {
  color: var(--text-title-h5) !important;
}

.HyperMD-header-6,
.markdown-preview-section h6 {
  color: var(--text-title-h6) !important;
}
