:root {
  --dark0: #2e3440;
  --dark1: #3b4252;
  --dark2: #434c5e;
  --dark3: #4c566a;

  --light0: #d8dee9;
  --light1: #e5e9f0;
  --light2: #eceff4;
  --light3: #ffffff;

  --frost0: #8fbcbb;
  --frost1: #88c0d0;
  --frost2: #81a1c1;
  --frost3: #5e81ac;

  --red: #bf616a;
  --orange: #d08770;
  --yellow: #ebcb8b;
  --green: #a3be8c;
  --purple: #b48ead;
}

.theme-dark {
  --text-title-h1: var(--red);
  --text-title-h2: var(--orange);
  --text-title-h3: var(--yellow);
  --text-title-h4: var(--green);
  --text-title-h5: var(--purple);
  --text-title-h6: var(--orange);
}
.theme-light {
  --text-title-h1: var(--red);
  --text-title-h2: var(--orange);
  --text-title-h3: var(--yellow);
  --text-title-h4: var(--green);
  --text-title-h5: var(--purple);
  --text-title-h6: var(--orange);
}


.cm-header-1.cm-link,
h1 a {
  color: var(--text-title-h1) !important;
}

.cm-header-2.cm-link,
h2 a {
  color: var(--text-title-h2) !important;
}

.cm-header-3.cm-link,
h3 a {
  color: var(--text-title-h3) !important;
}
.cm-header-4.cm-link,
h4 a {
  color: var(--text-title-h4) !important;
}
.cm-header-5.cm-link,
h5 a {
  color: var(--text-title-h5) !important;
}
.cm-header-6.cm-link,
h6 a {
  color: var(--text-title-h6) !important;
}

.cm-header {
  font-weight: 600 !important;
}

.HyperMD-header-1,
.markdown-preview-section h1 {
  font-weight: 600 !important;
  font-size: 2.2em !important;
  color: var(--text-title-h1) !important;
}

.HyperMD-header-2,
.markdown-preview-section h2 {
  font-weight: 600 !important;
  font-size: 2em !important;
  color: var(--text-title-h2) !important;
}

.HyperMD-header-3,
.markdown-preview-section h3 {
  font-weight: 600 !important;
  font-size: 1.8em !important;
  color: var(--text-title-h3) !important;
}

.HyperMD-header-4,
.markdown-preview-section h4 {
  font-weight: 600 !important;
  font-size: 1.6em !important;
  color: var(--text-title-h4) !important;
}

.HyperMD-header-5,
.markdown-preview-section h5 {
  font-weight: 600 !important;
  font-size: 1.4em !important;
  color: var(--text-title-h5) !important;
}

.HyperMD-header-6,
.markdown-preview-section h6 {
  font-weight: 600 !important;
  font-size: 1.2em !important;
  color: var(--text-title-h6) !important;
}

/* myCSS */
.tree-item-flair {
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-dark .editor-date-picker {
  color: #fff;
  background-color: #292e39 !important;
  border: none !important;
  padding: 1rem !important;
}
.theme-dark .editor-date-picker > .date-picker-day-container > .day-item:hover {
  background-color: #df3737 !important;
}
.theme-dark
  div[data-type="memos_view"]
  .search-bar-container
  > .search-bar-inputer {
  background-color: #292e39 !important;
}
.theme-dark div[data-type="memos_view"] .memo-editor-wrapper {
  background-color: #3b4251 !important;
  border: none !important;
}

.theme-dark div[data-type="memos_view"] .memo-editor-wrapper > .memo-editor {
  background-color: #2e3441 !important;
}
.theme-dark
  div[data-type="memos_view"]
  .common-editor-wrapper
  > .common-tools-wrapper
  > .btns-container
  > .confirm-btn:disabled {
  opacity: 1 !important;
}
.theme-dark
  div[data-type="memos_view"]
  .common-editor-wrapper
  > .common-tools-wrapper
  > .btns-container
  > .confirm-btn {
  background-color: #ad1207 !important;
}
.theme-dark div[data-type="memos_view"] .memo-wrapper {
  background-color: #383e4c !important;
  border: none !important;
}

.theme-dark
  div[data-type="memos_view"]
  .usage-heat-map-wrapper
  > .usage-heat-map
  > .stat-container.stat-day-L1-bg {
  background-color: #c6e48b !important;
}
.theme-dark
  div[data-type="memos_view"]
  .usage-heat-map-wrapper
  > .usage-heat-map
  > .stat-container.stat-day-L2-bg {
  background-color: #7bc96f !important;
}
.theme-dark
  div[data-type="memos_view"]
  .usage-heat-map-wrapper
  > .usage-heat-map
  > .stat-container.stat-day-L3-bg {
  background-color: #239a3b !important;
}
.theme-dark
  div[data-type="memos_view"]
  .usage-heat-map-wrapper
  > .usage-heat-map
  > .stat-container.stat-day-L4-bg {
  background-color: #196127 !important;
}
