:root {
  --default-font: "微软雅黑";
  --code-font: "FiraCode NF Retina", var(--default-font);
  --header-font: var(--default-font);
  --header-weight: 800;
  --h1: 2.25em;
  --h2: 2em;
  --h3: 1.75em;
  --h4: 1.5em;
  --h5: 1.25em;
  --h6: 1em;
}
.theme-dart {
  --background-primary: #faf7f5;
  --background-primary-alt: #f5f8fa;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #e3e5e8;
  --background-modifier-border: #ddd;
  --background-modifier-form-field: #fff;
  --background-modifier-form-field-highlighted: #fff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a4e7c3;
  --background-modifier-error: #900;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #b00;
  --background-modifier-cover: rgba(198, 200, 209, 0.8);
  --background-title-bar: #6b0cc5;
  --text-accent: #705dcf;
  --text-accent-hover: #7a6ae6;
  --text-normal: #2e3338;
  --text-muted: #888;
  --text-muted-rgb: 136, 136, 136;
  --text-faint: #999;
  --text-error: #800000;
  --text-error-hover: #900;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
  --text-selection: rgba(204, 230, 255, 0.99);
  --text-on-accent: #faf7f5;
  --interactive-normal: #f2f3f5;
  --interactive-hover: #e9e9e9;
  --interactive-accent: #7b6cd9;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #8273e6;
  --interactive-success: #197300;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --highlight-mix-blend-mode: darken;
  --text-title-h1: #a268ff;
  --text-title-h2: #ff56d1;
  --text-title-h3: #ff689a;
  --text-title-h4: #ff986c;
  --text-title-h5: #ffcb58;
  --text-title-h6: #ccb4e9;
  --strong-color: 124, 25, 30;
  --strikethrough-color: rgba(var(--strong-color), 0.6);
  --inline-code-color: #d63200;
  --inline-code-bg: #e6e6e6;
  --l-blockquote-h: 350;
  --l-blockquote-s: 100%;
  --l-blockquote-l: 70%;
  --blockquote-border: var(--l-blockquote-h), var(--l-blockquote-s),
    var(--l-blockquote-l);
  --blockquote-bg: hsla(var(--blockquote-border), 0.05);
  --task-checkbox: #5c70be;
  --table-header: hsl(218, 27%, 48%);
  --table-row-even: hsl(220, 16%, 94%);
  --table-row-odd: hsl(220, 16%, 98%);
  --table-hover: #abc0e0;
}

/* TODO编辑ICON */
.tasks-edit {
  width: 16px !important;
  height: 16px !important;
}
/* 顶部导航 */
.titlebar {
  background-color: var(--background-title-bar);
}
/* ---标题--- */
/* 字体&大小 */
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6,
.HyperMD-header .cm-header-1,
.HyperMD-header .cm-header-2,
.HyperMD-header .cm-header-3,
.HyperMD-header .cm-header-4,
.HyperMD-header .cm-header-5,
.HyperMD-header .cm-header-6 {
  font-weight: var(--header-weight) !important;
  font-family: var(--header-font) !important;
}
/* 颜色 */
.HyperMD-header-1,
.HyperMD-header-1 .cm-header-1.cm-link,
.HyperMD-header-1 .cm-header-1.cm-hmd-internal-link,
.markdown-preview-section h1,
.markdown-rendered h1,
h1 a {
  color: var(--text-title-h1) !important;
  font-size: var(--h1) !important;
}
.HyperMD-header-2,
.HyperMD-header-2 .cm-header-2.cm-link,
.HyperMD-header-2 .cm-header-2.cm-hmd-internal-link,
.markdown-preview-section h2,
.markdown-rendered h2,
h2 a {
  color: var(--text-title-h2) !important;
  font-size: var(--h2) !important;
}
.HyperMD-header-3,
.HyperMD-header-3 .cm-header-3.cm-link,
.HyperMD-header-3 .cm-header-3.cm-hmd-internal-link,
.markdown-preview-section h3,
.markdown-rendered h3,
h3 a {
  color: var(--text-title-h3) !important;
  font-size: var(--h3) !important;
}
.HyperMD-header-4,
.HyperMD-header-4 .cm-header-4.cm-link,
.HyperMD-header-4 .cm-header-4.cm-hmd-internal-link,
.markdown-preview-section h4,
.markdown-rendered h4,
h4 a {
  color: var(--text-title-h4) !important;
  font-size: var(--h4) !important;
}
.HyperMD-header-5,
.HyperMD-header-5 .cm-header-5.cm-link,
.HyperMD-header-5 .cm-header-5.cm-hmd-internal-link,
.markdown-preview-section h5,
.markdown-rendered h5,
h5 a {
  color: var(--text-title-h5) !important;
  font-size: var(--h5) !important;
}
.HyperMD-header-6,
.HyperMD-header-6 .cm-header-6.cm-link,
.HyperMD-header-6 .cm-header-6.cm-hmd-internal-link,
.markdown-preview-section h6,
.markdown-rendered h6,
h6 a {
  color: var(--text-title-h6) !important;
  font-size: var(--h6) !important;
}

/* ---列表--- */
/* 无序列凑点 */
.outliner-plugin-better-bullets .cm-s-obsidian:not(.is-live-preview),
.outliner-plugin-better-bullets .cm-formatting-list-ul:before,
.outliner-plugin-better-bullets .outliner-plugin-better-bullets,
.outliner-plugin-better-bullets .cm-s-obsidian.is-live-preview,
.outliner-plugin-better-bullets .list-bullet:before {
  font-family: Monospace !important;
}

/* 关键字 */
.cm-strikethrough,
.markdown-rendered del {
  color: var(--strikethrough-color);
}
.cm-strong,
.markdown-rendered strong {
  color: rgb(var(--strong-color));
}

/* ---代码--- */
/* 字体 */
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd,
.markdown-rendered code {
  font-family: var(--code-font) !important;
}

.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.theme-light :not(pre) > code[class*="language-"],
.theme-light pre[class*="language-"],
.markdown-rendered code {
  background-color: var(--inline-code-bg) !important;
  border-radius: 0.5rem;
}

.cm-s-obsidian span.cm-inline-code,
.markdown-rendered code {
  color: var(--inline-code-color);
}

.cm-s-obsidian
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight),
.markdown-rendered p > code {
  padding: 0.2rem 0.4rem;
  margin: 0 0.15rem;
  border-radius: 0.3rem;
}

.cm-s-obsidian div.HyperMD-codeblock-bg {
  background-color: var(--inline-code-bg) !important;
  padding: 0.15rem 2.2rem;
}
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0 0;
}
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0 0;
}

/* 说明框 */

.markdown-preview-view blockquote:before {
  content: "❝"; /*\edd5 \ec51*/
  font-weight: 900;
  font-size: 2em;
  margin-right: 0.05em;
  line-height: 0.1em;
  vertical-align: -0.3em;
}

.naked-bq .markdown-preview-view blockquote:before {
  content: "";
  margin-right: 0em;
}

blockquote p,
.cm-quote {
  color: hsl(var(--blockquote-border)) !important;
}

blockquote p:first-child,
.cm-quote:first-child {
  display: inline;
}

.markdown-preview-view blockquote,
.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote,
.callout-content blockquote {
  color: hsl(var(--blockquote-border));
  border: none;
  border-left: 0.3rem solid hsl(var(--blockquote-border));
  background-color: var(--blockquote-bg);
  border-radius: 0px;
  margin: 1rem 0rem 1rem 0rem;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.markdown-source-view.mod-cm6 .cm-blockquote-border {
  border: 0 solid hsl(var(--blockquote-border));
  border-left-width: 0.3rem;
  text-indent: 0;
}

/*---复选框--*/
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1em !important;
}

input.task-list-item-checkbox {
  border: 1px solid var(--task-checkbox);
  appearance: none;
  -webkit-appearance: none;
}

input.task-list-item-checkbox:checked {
  background-color: var(--task-checkbox);
  box-shadow: inset 0 0 0 2px var(--background-primary);
}

/* 图片 */
img {
  width: 100%;
}

/* 表格 */
.markdown-source-view table,
.markdown-rendered table {
  border-collapse: collapse;
  display: block;
  width: 100%;
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: justify;
  box-sizing: border-box;
}

.markdown-source-view th,
.markdown-rendered th {
  font-weight: 600 !important;
  border: 0px !important;
  text-align: left;
  background-color: var(--table-header);
  border: 1px solid var(--background-modifier-border) !important;
}

.markdown-source-view td,
.markdown-rendered td {
  border-left: 0px !important;
  border-right: 0px !important;
  border: 1px solid var(--background-modifier-border) !important;
}

.markdown-source-view tr:nth-child(even),
.markdown-rendered tr:nth-child(even) {
  background-color: var(--table-row-even);
}
.markdown-source-view tr:nth-child(odd),
.markdown-rendered tr:nth-child(odd) {
  background-color: var(--table-row-odd);
}
.markdown-source-view tr:hover,
.markdown-rendered tr:hover {
  background-color: var(--table-hover);
}
/* 滚动条 */
body:not(.native-scrollbars) ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  -webkit-border-radius: 100px;
}

/* 消息弹窗 */
.notice{
  background-color: var(--background-title-bar);
}

.drawio{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
